* {
    margin: 0;
    padding: 0;
    border: none;
}

img {
    width: 100%;
}


/* Navigation Styling */

header {
    background-color: #BF2028;
    padding: 30px 10px;
    width: 100%;
    display: flex;
    flex-direction: row; 
}

header img {
    max-width: 150px;
    width: 20%;
}

nav {
    text-align: right;  
    width: 70%;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
}

/* Header styles of all pages */
.page_headers {
    background-color: #FFE400;
    border: solid black 5px;
    text-align: center;
    padding: 45px 0;
}

.page_headers h1 {
    background-image: url("../images/pow-shape.png");
    /* color: black; */
}


/* Footer Styling */
footer {
    background-color: black;
    color: white;
    padding: 100px 60px;
    /* font-family: Montserrat; */
}

.social_media img {
    width: 100%;
    max-width: 60px;
}