#reset {
	margin: 0;
	padding: 0;
	border: 0;
}

.card-styling {
    border-top: @border;
    border-bottom: @border;
    border-left: @border;
    border-right: @border;
    padding: 0;
    width: 100%;
    max-width: 25rem;
    height: 615px;
    margin: 0 auto;
    border-radius: 0;
    background-color: #ebebeb;
}

.card-heading {
    font-family: @heading-font-family;
    font-size: @card-title-font-size;
    padding-bottom: 5px;
}

.card-subheading {
    font-size: @card-subtitle-font-size;
    padding-bottom: 10px;
    font-family: @body-font-family;
    font-weight: 500;
}

.card-body-text {
    font-size: @card-text-size;
    padding-bottom: 5px;
    font-family: @body-font-family;
}

.button {
    text-transform: uppercase;
    font-weight: 700;
    background-color: @button-background-color;
    height: 65px;
    width: 210px;
    margin: 30px auto 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    a {
        color: @button-text-color;
        text-decoration: none;
        font-size: 1.2rem;
    }
    a:hover {
        color: @button-text-color;
        text-decoration: none;
    }
    .badges-button:hover {
        background-color: @button-background-color-hover;
    }
}
