@import "./variables.less";
@import "./mixins.less";

* {
    #reset();
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

.badges h5 {
    font-family: @heading-font-family;
    font-size: @card-title-font-size;
}

.badges h6 {
    font-size: @card-subtitle-font-size;
}

.badges p {
    font-size: @card-text-size;
}

.row {
    margin: 0 auto;
    padding: 0 20px;
}

.badges .card {
    border-top: black solid 5px;
    border-bottom: black solid 5px;
    border-left: black solid 5px;
    border-right: black solid 5px;
    margin: 20px auto;
    padding: 0;
    width: 100%;
    height: 550px;
}

.card-container {
    padding: 0 3px;
}

.badges .card img {
    width: 100%;
}

