@import "./variables.less";
@import "./mixins.less";

// Reset Rule
* {
    padding: 0;
    margin: 0;
    border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display: block;
}

html {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

// Global Styles
body {
    color: @font-background-color;
    font-family: @body-font;

    h1, h2, h3 {
        #heading();
    }

    h2 {
      #heading-background();
    }

    img {
        max-width: 100%;
    }

    button, button a {
      #button();
    }

    hr {
      border: 0;
      border-top: 2px solid @primary-white;
      margin: 0px 30px;
      padding: 16px;
    }

    
}

header {
    background-color: @primary-red;
    border-bottom: @border;
    padding: 10px;
    margin-bottom: 30px;
}

h1, .desktop-nav, .banner-heading {
    display: none;
}


// Hamburger Menu // 
.button_container {
    position: fixed;
    top: 5%;
    right: 2%;
    height: 27px;
    width: 35px;
    cursor: pointer;
    z-index: 100;
    transition: opacity .25s ease;
    
    &:hover {
      opacity: .7;
    }
    
    &.active {
      .top {
        transform: translateY(11px) translateX(0) rotate(45deg);
        background: @primary-white;
      }
      .middle {
        opacity: 0;
        background: @primary-white;
      }
      
      .bottom {
        transform: translateY(-11px) translateX(0) rotate(-45deg);
        background: @primary-white;
      }
    }
    
    span {
    background: @primary-white;
    border: 1px solid @font-background-color;
    height: 5px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition:  all .35s ease;
    cursor: pointer;
      
      &:nth-of-type(2) {
        top: 11px;
      }
      
      &:nth-of-type(3) {
        top: 22px;
      }
    }
  }
  
  .overlay {
    position: fixed;
    background: @primary-blue;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
    
    &.open {
      opacity: .9;
      visibility: visible;
      height: 100%;
      z-index: 2;
      
      li {
        animation: fadeInRight .5s ease forwards;
        animation-delay: .35s;
        
        &:nth-of-type(2) {
          animation-delay: .4s;
        }
        &:nth-of-type(3) {
          animation-delay: .45s;
        }
        &:nth-of-type(4) {
          animation-delay: .50s;
        }
      }
    }

    nav {
      position: relative;
      height: 70%;
      top: 50%;
      transform: translateY(-50%);
      font-size: 50px;
      font-family: @comic-font;
      font-weight: 400;
      text-align: center;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0 auto;
      display: inline-block;
      position: relative;
      height: 100%; 
      
      li {
        display: block;
        height: 25%;
        height: calc(100% / 4);
        min-height: 50px;
        position: relative;
        opacity: 0;
        
        a {
          display: block;
          position: relative;
          color: @primary-white;
          text-decoration: none;
          overflow: hidden;
          
          &:hover:after,
           &:focus:after,
           &:active:after {
             width: 100%;
           }
          
          &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 0%;
            transform: translateX(-50%);
            height: 3px;
            background: @primary-white;
            transition: .35s;
          }
        }
      }
    }
  }
  // End Hamburger Menu // 

  //////////////////// HOME PAGE ////////////////////
  .banner {
    margin-top: -136px;
  }

  .carousel-inner img {
    border-top: @border;
    border-bottom: @border;
    object-fit: cover;
    min-height: 400px;
  }

  .banner-items {
    position: relative;
    text-align: center;
    top: 264px;
    z-index: 1;


    button:hover, button a:hover {
      background-color: @button-background-color-hover;
      color: #fff;
    }
  }

  .banner-icons {
    color: #fff;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;

    i.fas.fa-calendar-alt {
      margin-top: 5px;
    }
    

    p {
      font-family: @body-font;
      padding-left: 6px;
    }

  }

  .special-guest-image {

    figure {
      position: relative;
  
      img {
        border: @border;
        display: block;
        margin: 0 auto;
        width: 100%;
      }
      
  
      figcaption {
        #figcaptions();
    
        .figcaption-black {
          font-weight: bold;
        }
    }   
    
    }
  }

  

 //////////////////// ABOUT PAGE ////////////////////
 .about {  
     text-align: center;
     
     img {
       border: @border;
       margin-bottom: 20px;
     }

     .about-text {
       display: inline-block;
       text-align: left;
       margin: 20px;
     }
  
 }
 
 .card {
   border: @border;
   text-align: center;
   margin: 0 auto;
   margin-bottom: 40px;
   height: 500px;

   button:hover {
     background-color: @button-background-color-hover; 
   }
 }

 .feature-card-text {
   #feature-card-text();
 }

 //////////////////// FOOTER ////////////////////

footer {
      background-color: @font-background-color;

    .centering-container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 0;
    }

    .footer-flex-container {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .social-media {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    a {
        color: @primary-white;
        font-size: 50px;
    }

    a:hover {
        color: @primary-white;
    }

    p {
        color: @primary-white;
        font-weight: bold;
        margin: 0;
    }

    .mobile-footer-logo {
        width: 60%;
        max-width: 176px;
    }

    .desktop-footer-logo {
        display: none;
    }

    .blue {
        color: @primary-blue;
        padding-left: 20px;
    }

    .red {
        color: @primary-red;
        padding-left: 20px;
    }

    .yellow {
        color: @primary-yellow;
        padding-left: 20px;
    }
    
    
    .white-line {
        width: 275px;
        margin: auto;
        border-bottom: 3px solid @primary-white;
    }
    
    .address {
        padding: 10px 0;
    }

    .footer-text {
        padding: 10px 0;
    }

    padding: 0 10px 20px;

}

//////////////////// MEDIA QUERIES ///////////////////

// Start Banner Section 500 Min Width Media Query
@media (min-width: 500px) {
  .banner-icons {
    font-size: 30px;
  }
}
// End Banner Section 500 Min Width Media Query

// Start Footer 768 Min Width Media Query
@media (min-width: 768px) {
    footer {
        display: flex;
        align-items: center;
        justify-content: center;

        .footer-container {
            width: 80%;
            display: flex;
            justify-content: space-evenly;
            flex-direction: row-reverse;
            max-width: 1000px;
        }

        .white-line {
            width: 0;
            height: 275px;
            border-bottom: none;
            border-right: 3px solid @primary-white;
            margin: auto 70px;
        }

        .mobile-footer-logo {
            display: none;
        }

        .desktop-footer-logo {
            width: 80%;
            max-width: 250px;
            display: inline-block;
        }
        
        .centering-container {
            flex: 1;
        }
    }
}
// End Footer 768 Min Width Media Query

// Start Banner Section 900 Min Width Media Query
@media (min-width: 900px) {
  .banner {
    margin-top: -206px;
  }

  .banner-items {
    text-align: right;
    margin-right: 40px;
  }

  .banner-icons {
    justify-content: flex-end;
    font-size: 50px;

    p {
      padding-left: 14px;
    }
  }
}
// End Banner Section 900 Min Width Media Query

// Start Banner Section 1200 Min Width Media Query
@media (min-width: 1200px) {
  .banner {
    margin-top: -277px;
  }

  .banner-items {
    top: 340px;

    button {
      font-size: 20px;
    }
  }
  .banner-icons {
    font-size: 70px;
  }

}
// End Banner Section 1200 Min Width Media Query

// Start Banner Section 1300 Min Width Media Query
@media (min-width: 1300px) {
  .about {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px;

    img {
      width: 40%;
    }
  }
}
// End Banner Section 1300 Min Width Media Query

// Start Banner Section 1500 Min Width Media Query
@media (min-width: 1500px) {
  .about-text {
    margin-left: 40px;
  }
}

// End Banner Section 1700 Min Width Media Query

// Start Banner Section 1700 Min Width Media Query
@media (min-width: 1700px) {
  .banner {
    margin-top: -357px;
  }

  .banner-items {
    top: 500px;

    button {
      font-size: 30px;
    }

    .banner-icons {
      font-size: 100px;

      i.fas.fa-calendar-alt {
        margin-top: 12px;
      }
    }
  }
}
// End Banner Section 1700 Min Width Media Query

//////////////////// END MEDIA QUERIES ///////////////////
  
  // Hamburger Menu Animation
  @keyframes fadeInRight {
    0% {
      opacity: 0;
      left: 20%;
    }
    100% {
      opacity: 1;
      left: 0;
    }
  }

////////// BADGES PAGE ///////////
.badges {
    .container{
        .row {
            padding: 0 10px;
            .card-container {
                padding: 20px 3%;
                .card {
                    .card-styling();
                    img {
                        width: 100%;
                    }
                    .card-body {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        h5 {
                            .card-heading();
                        }
                        h6 {
                            .card-subheading();
                        }
                        p {
                            .card-body-text();
                        }
                        .badges-button {
                            .card-button();
                        }
                        .badges-button:hover {
                            background-color: @button-background-color-hover;
                        }
                    }
                }
            }
        }
    }
}
 //////////////////// Contact PAGE ////////////////////
 body{
  header{
      font-family: 'classic-comic', sans-serif;
      font-size: 16px;
      font-weight: 400;
      nav{
          ul{
            li{
              a{
                display: inline;
              }
            }
          }
      }

  }
  .container-fluid{
     
      .container{
          h2{
              font-family: 'classic-comic', sans-serif;
              font-weight: 400;
              font-style: normal;
              font-size: 30px;
          }
          
             
          .form-label{
              font-family: 'classic-comic', sans-serif;
              font-weight: 400;
              font-style: normal;
              font-size: 16px;
          }
      }
  }
}