@import "./variables.less";
@import "./mixins.less";

* {
    #reset();
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display: block;
}

body {
    font-family: @body-font-family;
}

header {
    .header-style();
}

nav {
    text-align: right;  
    width: 70%;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
}

.badges {
    .container{
        .row {
            padding: 0 5%;
            max-width: 1000px;
            .card-container {
                padding: 20px 3%;
                .card {
                    .card-styling();
                    img {
                        width: @images;
                    }
                    .card-body {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        h5 {
                            .card-heading();
                        }
                        h6 {
                            .card-subheading();
                        }
                        p {
                            .card-body-text();
                        }
                        .badges-button {
                            .button();
                        }
                    }
                }
            }
        }
    }
}

.middle-yellow-div {
    background-color: #FFE400;
}