// Color Palette
@primary-red: #bf2028;
@primary-yellow: #ffe400;
@primary-blue: #45a6dd;
@primary-white: #ffffff;
@font-background-color: #231f20;
@background-grey: #ebebeb;
@button-background-color-hover: #92051f;

// Fonts
@comic-font: classic-comic, sans-serif;
@body-font: 'Montserrat', sans-serif;

//Font Size
@body-text-size: 14px;

// Cards
@card-title-font-size: 1.4rem;
@card-subtitle-font-size: 1.2rem;
@card-text-size: 1rem;

// Border
@border: #231f20 solid 4px;
